body {
	background: #000;
}

#out {
	margin-left:auto;
	margin-right:auto;
	width:70%;	
}

#header {
	background: #000;
	margin: 0px;
	padding: 10px;
}

#header h1 {
	color: #fff;
     text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
     font: 300% 'Verdana';
	
}

#main {
	background: #fff;
	margin: auto;
	padding: 20px;
}

#footer {
	color: #fff;
	background: #000;
	margin: 0px;
	padding: 10px;
}